<p>Hello<%= @owner.first_name %></p>
<p>You've gotten an answer to your question:</p>
<p>Question title: <%= @question.title %></p>
<p>The Answer: <%= @answer.body %></p>

<p>Click <%= link_to "here", question_url(@question) %> to view your question.</p>

<p>Regards,</p>

<p>Awesome Answers Team</p>
