// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$media-color:#31B0D5;

#answer-list{
  .media-temp-image{
    width:50px;
    height:50px;
    background-color: $media-color;
  }
  .media-temp-image-xs{
    width:20px;
    height:20px;
    background-color: cornflowerblue;
  }
  .date{
    color:grey;
    font-size: 12px;
  }
  li:hover{
    background-color: rgba($media-color, 0.07);
  }

  // overwrite bootstrap
  & > .media{
    margin-top: 0;
    padding:10px 5px;
  }

}
#answer-form-action,
#delete-answer-button,
.comment-form{
  display:none;
}
#answer-cancel-button, .comment-cancel-button{
  margin-right: 20px;
}
